.bottom-header {
  display: flex;
  height: 54px;
  padding: 0px 98px 0px 101px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
.nav {
  display: flex;
  width: 100%;
  height: 54px;
  align-items: flex-start;
}
.nav button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #ffffff;
  height: 54px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
.nav button div:hover {
  background-color: #292C35;
  border-radius: 6px;
}
.nav button div {
  display: flex;
  padding: 10px 12px;
  align-items: flex-start;
  gap: 10px;
}