.mainText-layout {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.mainText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.content p {
  margin: 0;
  text-align: center;
  font-family: Pretendard;
  color: #ffffff;
}
#title {
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -1.5px;
}
#sub-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.15px;
}
#start {
  background-color: #186EEE;
  display: flex;
  height: 54px;
  padding: 0px 20px 0px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  border: none;
  border-radius: 6px;
}
#start:hover {
  background-color: #257CFF;
}
#start > div {
  display: flex;
  gap: 10px;
}
.arrow-layout img {
  width: 20px;
  height: 18px;
  gap: 10px;
  margin: 0;
}