.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 90px;
}
.top ul {
  margin: 0;
  padding: 0;
  display: flex;
}
#top_font{
  font-family: Pretendard, 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
}
.top ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 12px;
}
#join{
  width: 88px;
  height: 40px;
  font-family: Pretendard,'Noto Sans KR', sans-serif;
  border-radius: 6px;
  background-color: #257CFF;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
#join:hover{
  background-color: #186EEE;
}
.btn2{
  padding-top: 70px;
  padding-right: 150px;
}
#str_btn{
  position: relative;
  width: 205px;
  height: 54px;
  margin-top: 50px;
  border-radius: 6px;
  background-color: #257CFF;
  border: none;
  color: white;
  font-family: Pretendard,'Noto Sans KR', sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding-right: 35px;
  margin-right: 130px;
}
#str_btn:hover{
  background-color: #186EEE;
}
.arrow{
  position: absolute;
  padding-top: 3px;
  padding-left: 8px;
}