#top ul li{  
  float: left;
  text-align: center;
  color: white;
  font-family: Pretendard,'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 12px;
}
.btn1{
  padding-left: 1200px;
  padding-top: 2px;
}
.login{
  padding-top: 12px;
}
#join{
  width: 88px;
  height: 40px;
  font-family: Pretendard,'Noto Sans KR', sans-serif;
  border-radius: 6px;
  background-color: #257CFF;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
#join:hover{
  background-color: #186EEE;
}
.btn2{
  padding-top: 70px;
  padding-right: 150px;
}
#receipt{
  position: relative;
  width: 205px;
  height: 54px;
  font-family: Pretendard,'Noto Sans KR', sans-serif;
  border-radius: 6px;
  background-color: #257CFF;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding-right: 30px;
}
#receipt:hover{
  background-color: #186EEE;
}
.arrow{
  position: absolute;
  width: 17.617px;
  height: 16px;
  padding-top: 1px;
  padding-left: 10px;
}
