body {
  margin : 0;
  height: 100vh;
  width: 100%;
}
main {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../imgs/background_img.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}