*{
  padding: 0px;
  margin: 0px;
}
body,
html{
  width: 1440px;
  height: 800px;
  outline: 1px dotted red;
}
.container {
  position: relative;
  text-align: center;
  color: #0000ff;
}
img{
  width: 1440px;
  height: 800px;
}
#top{
  position: absolute;
  top: 0px;
  right: 12px;
  width: 1440px;
  height: 64px;
  outline: 1px dotted red;
}
.logo{
  padding-top: 16px;
  width: 106.06px;
  height: 32px;
  float: left;
  padding-left: 125px;
}
#menu {
  position: absolute;
  top: 64px;
  left: 110px;
  width: 1240px;
  height: 54px;
  outline: 1px dotted red;
}
#menu ul li{
  float: left;  
  height: 50px; 
  text-align: center;
  color: white;
  padding: 10px 12px;
  font-family: Pretendard,'Noto Sans KR', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 23.4px;
}
#main{
  position: absolute;
  top: 202px;
  left: 492px;
  width: 457px;
  height: 396px;
  outline: 1px dotted red;
}